## VCO
VCO/fp-info-cache
VCO/VCO.kicad_pcb-bak
VCO/VCO.sch-bak
VCO/VCO-cache.lib
VCO/Ignore
VCO/Assembly
VCO/VCO-backups
VCO/VCO.kicad_prl

## Wavefolder
Wavefolder/fp-info-cache
Wavefolder/Wavefolder.kicad_pcb-bak
Wavefolder/Wavefolder.sch-bak
Wavefolder/Wavefolder-cache.lib
Wavefolder/Ignore
Wavefolder/Assembly
Wavefolder/Wavefolder-backups
Wavefolder/Wavefolder_prl

## MISC
desktop.ini
